.submitButton {
  background-color: $blue;
  border: 2px solid white;
  font-family: 'Kaushan Script', cursive;
  color: white;
  width: 100%;
}

.redirectButton {
  background-color: $green;
  border: 2px solid white;
  font-family: 'Kaushan Script', cursive;
  color: white;
  width: 100%;
}

.redButton {
  background-color: $red;
  border: 2px solid white;
  font-family: 'Kaushan Script', cursive;
  color: white;
  width: 100%;
}

.backButton {
  background-color: white;
}
