.submitButton {
  background-color: $blue;
  border: 2px solid white;
  font-family: 'Kaushan Script', cursive;
  color: white;
  width: 100%;
}

.redirectButton {
  background-color: #54C6A8;
  border: 2px solid white;
  font-family: 'Kaushan Script', cursive;
  color: white;
  width: 100%;
}
