.map {
    margin-bottom: 50px;
    height: 300px;
}

.card-image {
  height:300px;
  width:300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div.card {
  margin: 20px;
}
