@import 'helpers/variables';
@import 'helpers/typography';
@import 'components/home';
@import 'components/register';
@import 'components/index';
@import 'components/viewprofile';
@import 'partials/buttons';
@import 'partials/navbar';


body {
  min-height: 100vh;
  font-family: 'Kaushan Script', cursive;
  color: white;
}

.title {
  color: white;
}



.indexContent {
  padding: 50px;
}
